export SNEAKER_LAUNCHPAD_DB=".data/sneaker_launchpad.sqlite3"
export SNEAKER_LAUNCHPAD_NIKE_PROFILE_DIR="$HOME/.config/sneaker-launchpad/nike"
export SNEAKER_LAUNCHPAD_ADIDAS_PROFILE_DIR="$HOME/.config/sneaker-launchpad/adidas"
export SNEAKER_LAUNCHPAD_HEADLESS=false
export SNEAKER_LAUNCHPAD_FINALIZE_PURCHASE=false
